* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020A18;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 39px 0px;
    gap: 40px;
}

.center {
    padding-left: calc(50% - 760px);
    padding-right: calc(50% - 760px);
}

.top_content {
    display: flex;
    margin-top: 38px;
    justify-content: center;
}

.top_info {
    margin: 89px 46px 45px 96px;
    max-width: 753px; 
}

.menu_link {
    text-decoration: none;
    color: #FFF;
}

.sub_title {
    margin-top: 69px;
    margin-bottom: 10px;
    color: #3A68B8;
    text-transform: uppercase;
}

.title {
    color: #FFF;
}

.text {
    color: #FFF;
}

.top_buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background-color: #3A68B8;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px; 
}

.img_play {
    margin-right: 8px;
}

.btn_text {
    color: #FFF;
}

.top_logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    gap: 71.36px;
}
