* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020A18;
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.menu_link {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top_content {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 128px;
}

.sub_title {
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.title {
    width: 604px;
    color: #FFF;
    margin-top: 10px;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.text {
    width: 558px;
    color: #FFF;
    margin-top: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.top_buttons {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.btn {
    background-color: #3A68B8;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px; 
}

.img_play {
    margin-right: 8px;
}

.btn_text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top_logo {
    margin-top: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 40px;
    gap: 71px;
}

.top_ai {
    margin-top: 160px;
    margin-bottom: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
}

.title_ai {
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.top_info_ai {
    max-width: 500px;
    
}

.btn_ai {
    margin-top: 50px;
    background-color: #3A68B8;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px; 
}