* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 40px;
}

.title {
    font-family: 'Gill Sans MT';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 45px 22% 0px 14px;
}

.title_be {
    color: #F25822;
}

.nav_menu {
    margin-top: 40px;
    padding: 11px 14px 12px;
    display: flex;
    gap: 2rem;
}

.menu_link_home {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content {
    margin-top: 81px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.top_info {
    align-items: center;
    padding-left: 40px;
    max-width: 30%;
    margin-right: 15px;
}

.sub_title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.text {
    color: #888;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_buttons {
    display: flex;
    justify-content: left;
    gap: 4rem;
    padding: 21px;
}

.btn1 {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    padding: 16px 35px;
}

.btn2 {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
    padding: 16px 35px;
}

.footer {
    padding: 38px 0px 47px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}